<template name="commentItem">
    <div class="">
        <img class="author-img" src="{{image}}">

        <div class="author-header">
            <div class="row">
                <span class="author">{{author}}</span>
            </div>

        </div>
        <p class="comment-body">{{body}}</p>
    </div>
    <div class="date-submitted"><p>{{submittedDate}}</p></div>
</template>

<template name="commentSubmit">
    <div class="container">
        <div class="row">
            <form id="comment-form" name="comment" class="col s12">
                <div class="input-field col s12">
                    <input name="body" type="text" id="comment-input" placeholder="Leave a message..." class="validate">
                    <label class="active" for="comment-input"></label>
                </div>
            </form>
        </div>
    </div>
</template>